.App {
  padding: 24px;
}
.page_title {
  background-color: #C4C4C4;
  width: 80%;
}
.page_title div {
  font-size: 20px;
  color: #444;
  font-weight: 600;
}
.first_content {
  margin-top: 12px;
  color: #444;
}
.second_content {
  margin-top: 48px;
}
.second__content__title {
  background-color: #C4C4C4;
  display: inline;
  padding: 8px 8px 8px 2px;
  font-size: 20px;
  color: #444;
  font-weight: 600;
}
.Itrink_q {
  color: #444;
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1em;
  font-weight: 700;
}
.Itrink_a {
  font-size: 1.2em;
  color: #444;
}
.top-link {
  margin-top: 24px;
}
.link {
  margin-top: 12px;
}